{% extends "base.html" %}

{% block contenido %}
    <h1>Agregar Producto</h1>

    <form class="formulario-producto" method="POST" enctype="multipart/form-data">
        <label for="nombre">Nombre</label>
        <input class="formulario__campo" type="text" name="nombre" id="nombre">

        <label>Imagen</label>
        <div class="contenedor-imagen">
            <label for="imagen">Seleccionar archivo</label>
            <input class="formulario__campo" type="file" name="imagen" accept="image/*" id="imagen">
            <span id="nombre_imagen"></span>
        </div>

        <label for="precio">Precio</label>
        <input class="formulario__campo" type="number" name="precio" id="precio">

        <div class="seccion-tallas">
            <div class="encabezado-tallas">
                <span class="label-mini">Talla</span>
                <span class="label-mini">Cantidad</span>
            </div>

            {% for t in tallas %}
            <div class="fila-talla">
                <!-- Acá se muestran las tallas -->
                <input type="text" class="formulario__campo" value="{{ t[1] }}" readonly>

                <!-- Acá van los ids de las tallas -->
                <input type="hidden" name="id_talla[]" value="{{ t[0] }}">
                
                <!-- Acá van las cantidades por cada talla -->
                <input class="formulario__campo" type="number" name="cantidad[]" placeholder="0" min="0">
            </div>
            {% endfor %}
        </div>

        <label for="codigo">Código</label>
        <input class="formulario__campo" type="text" name="codigo" id="codigo">

        <label for="descripcion">Descripción</label>
        <textarea class="formulario__campo" name="descripcion" id="descripcion"></textarea>

        <button class="formulario__submit" type="submit">Agregar</button>
    </form>
    
    <script src="/static/js/app.js"></script>
{% endblock %}