{% extends "base.html" %}

{% block contenido %}

    <h1>Productos</h1>
    <div class="acciones-tabla">
        <div class="agregar_producto">
            <a href="{{url_for('agregar_producto')}}">+</a>
        </div>
        <div>
            <input type="text" name="buscador" class="buscador" id="buscador" placeholder="Buscar por nombre">
        </div>
    </div>
    
    <table class="tabla">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        
        <tbody>
        {% for p in productos %}

            <tr class="bg">
                <td>
                    <div class="producto__informacion">
                        <p class="">{{p.nombre}}</p>
                    </div>
                </td>
                <td>
                    <div class="fondo">
                        <img class="producto__imagen" src="{{url_for('static',filename='uploads/' ~ p.imagen)}}" alt="imagen camisa">
                    </div>
                </td>
                <td>
                    <p class="">{{p.precio}}$</p>
                </td>
                <td>
                    <a class="btn-naranja" href="{{url_for('actualizar_producto', id = p.id)}}">Actualizar</a>
                    <form class="w-100" method="POST">
                        <input type="hidden" name="id" value="">
                        <input type="hidden" name="tipo" value="">
                        <input class="btn-rojo" type="submit" value="Eliminar">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src="/static/js/buscador.js"></script>

{% endblock %}