{% extends "base.html" %}

{% block contenido %}

    <h1>Productos</h1>

    <div class="row justify-content-center">
        <div class="col-12">
            <!-- Mostrar mensajes flash -->
            {% with messages=get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

    
    <div class="acciones-tabla">
        <div class="agregar_producto">
            <a href="{{url_for('agregar_producto')}}">+</a>
        </div>
        <div>
            <input type="text" name="buscador" class="buscador" id="buscador" placeholder="Buscar por nombre">
        </div>
    </div>
    <table class="tabla">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Precio</th>
                <th>Variantes</th>
                <th>Acciones</th>
            </tr>
        </thead>
        
        <tbody>
        {% for p in productos %}

            <tr class="bg">
                <td>
                    <div>
                        <p>{{p.nombre}}</p>
                    </div>
                </td>
                <td>
                    <div class="fondo">
                        <img class="producto__imagen" src="{{url_for('static',filename='uploads/' ~ p.imagen)}}" alt="imagen camisa">
                    </div>
                </td>
                <td>
                    <p>{{p.precio}}$</p>
                </td>
                <td>
                    {% for v in p.variantes %}
                    <p>{{v.talla}}: {{v.stock}}</p>
                    {% endfor %}
                </td>
                <td>
                    <div class="acciones">
                        <a class="btn btn-naranja" href="{{url_for('actualizar_producto', id = p.id)}}">Actualizar</a>
                        <button class="btn btn-rojo" onclick="abrirModal('{{p.id}}')">Eliminar</button>
                    </div>
                </td>
            </tr>
            <!-- Modal -->
            <div id="modal-{{p.id}}" class="modal">
                <div class="contenido-modal">
                    <form action="{{url_for('eliminar_producto', id = p.id)}}" method="POST">
                        <span class="cerrar-modal" onclick="cerrarModal('{{p.id}}')">&times;</span>
                        <p class="confirmacion-modal">¿Seguro que desea eliminar este producto?</p>
                        <div class="grid">
                            <div class="img-modal">
                                <img class="producto__imagen" src="{{url_for('static',filename='uploads/' ~ p.imagen)}}" alt="imagen camisa">
                            </div>
                            <div>
                                <p class="informacion-modal">Nombre: {{p.nombre}}</p>
                                <p class="informacion-modal">Código: {{p.codigo}}</p>
                            </div>
                        </div>
                        <div class="centrar-boton-modal">
                            <button class="btn btn-primarioOscuro" type="submit">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
        </tbody>
    </table>

    <script src="/static/js/buscador.js"></script>
    <script src="/static/js/modal.js"></script>

{% endblock %}