<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FrontEnd Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header class="header">
            {% if request.path.startswith('/admin') %}
            <a href="{{ url_for('admin') }}">
                <img class="header__logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logotipo">
            </a>
            {% else %}
            <a href="{{ url_for('index') }}">
                <img class="header__logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logotipo">
            </a>
            {% endif %} 
    </header>
        {% if not request.path.startswith('/admin') and not request.endpoint == 'login' %}
        <nav class="navegacion">
            <a href="{{ url_for('index') }}" class="navegacion__enlace {{ 'navegacion__enlace--activo' if request.endpoint == 'index' }}">Tienda</a>
            <a href="{{ url_for('nosotros') }}" class="navegacion__enlace {{ 'navegacion__enlace--activo' if request.endpoint == 'nosotros' }}">Nosotros</a>
        </nav>
        {% endif %}
        
        {% if request.path.startswith('/admin') %}
        <div class="nav-admin">
            <nav class="navegacion">
                <a href="{{ url_for('admin') }}" class="navegacion__enlace {{ 'navegacion__enlace--activo' if request.endpoint == 'admin' }}">Productos</a>
                <a href="{{ url_for('pedidos') }}" class="navegacion__enlace {{ 'navegacion__enlace--activo' if request.endpoint == 'pedidos' }}">Pedidos</a>
            </nav>
            {% if request.path.startswith('/admin') %}
            <div class="logout">
                <a href="{{url_for('logout')}}">Cerrar sesión</a>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <main class="contenedor">
        {% block contenido %}
        {% endblock %}
    </main>

    <footer class="footer">
        <p class="footer__texto">La Gamboneta Operativa - &copy;Todos los derechos Reservados 2026.</p>
    </footer>
</body>
</html>
