{% extends "base.html" %}

{% block contenido %}

    <h1>Nuestros Productos</h1>
    
    <div class="grid">
        {% for p in productos %}
        <div class="producto">
            <a href="{{url_for('producto', id = p.id)}}">
                <img class="" src="{{url_for('static',filename='uploads/' ~ p.imagen)}}" alt="imagen camisa">
                <div class="producto__informacion">
                    <p class="producto__nombre">{{p.nombre}}</p>
                    <p class="producto__precio">{{p.precio}}$</p>
                </div>
            </a>
        </div> <!--.producto-->
        {% endfor %}
    </div>



{% endblock %}