{% extends "base.html" %}

{% block contenido %} 
    <h1>Nosotros</h1>

    <div class="nosotros">
        <div class="nosotros__contenido">
            <p>Somos un grupo humilde de la universidad intentando aprender a programar con un paradigma de la programación orienteada a objetos.</p>
            <p>Este es nuestra página de compras de camisas, espero les guste :D</p>
        </div>
        <img class="nosotros__imagen" src="{{url_for('static',filename='img/nosotros.jpg')}}" alt="imagen">
    </div>
<section class="contenedor comprar">
    <h2 class="comprar__titulo">¿Por qué comprar con nosotros?</h2>
    <div class="bloques">
        <div class="bloque">
            <img class="bloque__imagen" src="{{url_for('static',filename='img/icono_1.png')}}" alt="porque comprar">
            <h3 class="bloque__titulo">El mejor precio</h3>
            <p>Nuestros precios están adaptados a la necesidad del país</p>
        </div> <!--.bloque-->
        <div class="bloque">
            <img class="bloque__imagen" src="{{url_for('static',filename='img/icono_2.png')}}" alt="porque comprar">
            <h3 class="bloque__titulo">Para Devs</h3>
            <p>Enfocado a los desarrolladores web que están apasionados con estas tecnologías</p>
        </div> <!--.bloque-->
        <div class="bloque">
            <img class="bloque__imagen" src="{{url_for('static',filename='img/icono_3.png')}}" alt="porque comprar">
            <h3 class="bloque__titulo">Envio gratis</h3>
            <p>Se lo entregamos a su casa</p>
        </div> <!--.bloque-->
        <div class="bloque">
            <img class="bloque__imagen" src="{{url_for('static',filename='img/icono_4.png')}}" alt="porque comprar">
            <h3 class="bloque__titulo">La mejor calidad</h3>
            <p>Todos nuestros productos están confeccionados con la más alta calidad</p>
        </div> <!--.bloque-->
    </div> <!--.bloques-->

</section>
{% endblock %}
