{% extends "base.html" %}

{% block contenido %} 

    <h1>{{ producto.nombre }}</h1>
    
    <div class="camisa">
        <img class="camisa__imagen" src="{{ url_for('static', filename='uploads/' ~ producto.imagen) }}" alt="Imagen">
        
        <div class="camisa__contenido">
            <div>
                <p>{{ producto.descripcion }}</p>
            </div>
            <div>
                <p class="producto__precio__compra"><span>Precio:</span> {{ producto.precio }}$</p>
            </div>

            <form class="formulario" method="POST" action="/carrito">
                <!-- Campo oculto para obtener el id del producto que estamos comprando -->
                <input type="hidden" name="id_producto" value="{{ producto.id }}">

                <select class="formulario__campo" name="talla" required>
                    <option disabled selected value="">-- Seleccionar Talla --</option>
                    {% for v in producto.variantes %}
                        {% if v.stock > 0 %}
                            <option value="{{ v.talla }}">
                                {{ v.talla }} ({{ v.stock }} disponibles)
                            </option>
                        {% else %}
                            <option disabled>{{ v.talla }} (Agotada)</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <input class="formulario__campo" type="number" name="cantidad" placeholder="Cantidad" min="1" required>
                
                <input class="formulario__submit" type="submit" value="Agregar al Carrito">
            </form>
        </div>
    </div>

{% endblock %}